$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #92a8d1;
}

div {
  text-align: center;
  min-height: 125px;
  min-width: 100px;
  font-size: 80px;
}
#top-header{
  text-align: center;
  font-size: 2em;
  background-color: #f7786b;
}

p {
  text-align: center;
  font-size: 1.5em;
}

.col-lg-4 {
  border: 1px solid #000;
}

.form-control {
  width: 40%
}

.container {
  display: none;
  background-color: #f78a7f;
}

#reset-game {
  display: none;
}

#sign-out {
  display: none;
}

#game-message {
  display: none;
  color: #034f84;
}

#games-search {
  display: none;
}

#change-password {
  display: none;
}
